/* Welcome section */

.welcome{
    background-image: url("assets/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    text-align: center;
}

.wrapper-1{
    padding-bottom: 200px;
    padding-top: 180px;
}

.wrapper-1 h1{
    margin: auto;
    padding-bottom: 30px;
    color: #dcffff;
    text-shadow: 0px 0px 12px #04a0da;
    font-size: 75px;
    font-family: "Arial Black";
}

.wrapper-1 p{
    margin: auto;
    display: block;
    font-family: "Arial Black";
    color: #e0ceff;
    text-shadow: 0px 0px 12px #ff0d00;
    font-size: 25px;
}

/* General style for sections */
.offers, .cococoding{
    background: linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 98%, rgb(225, 225, 225) 100%);;
}

.wrapper-2, .wrapper-3{
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper-2 h1, .wrapper-3 h1{
    text-align: center;
    font-size: 70px;
    color: #4f003f;
    margin: auto;
    padding-bottom: 20px;
}

/* Offer section */
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes div{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 20px;
    min-width: 350px;
    max-width: 390px;
}

.boxes img{
    margin-right: 15px;
    float: left;
    width: 50px;
    height: 50px;
}

.boxes h2{
    color: #000044;
    margin-top: 5px;
}

.boxes p{
    margin: auto;
}

/* Coconut Coding section*/
.container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cococoding img{
    float: left;
    box-shadow: #125d59 0px 0px 10px;
    border-radius: 23px;
    margin: 20px;
    width: 35%;
    height: 34%;
}

.cococoding p {
    font-size: 20px;
    padding: 20px;
}