/* Welcome section */
.welcome{
    background-image: url("../assets/homepage/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    animation-delay: .3ms;
}

.welcome .wrapper{
    padding-bottom: 200px;
    padding-top: 180px;
}

.welcome .wrapper h1{
    padding-bottom: 30px;
    color: #dcffff;
    text-shadow: 0 0 12px #3d65e7;
    font-family: "Arial Black", sans-serif;
}

.welcome .wrapper p{
    text-align: center;
    margin: auto;
    display: block;
    font-family: "Arial Black", sans-serif;
    color: #e0ceff;
    text-shadow: 0 0 12px #ff0d00;
    font-size: 20px;
}

/* Offer section */
.offers {
    background: linear-gradient(180deg, rgb(250, 250, 250) 0%, rgb(250,250,250) 98%, rgb(225, 225, 225) 100%);
}

/* Coconut Coding section */
.cococoding{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cococoding .slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.cococoding .slide-content{
    margin: 0 40px;
    overflow: hidden;
    padding: 10px;
}

.cococoding .square {
    border-radius: 25px;
    background-color: #ecf8ff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image-content,
.square-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.cococoding .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.cococoding .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(219, 242, 255);
    border-radius: 25px 25px 0 0;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: rgba(215, 183, 255, 0.7);
}
.cococoding .overlay::after{
    background-color: #ecf8ff;
}

.cococoding .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 3px;
}
.cococoding .card-image .card-img{
    height: 100%;
    wight: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(35, 13, 52);
}

.cococoding .name{
    font-size: 2rem;
    font-weight: 500;
}

.cococoding .description{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.cococoding .button{
    border: none;
    font-size: 18px;
    color: white;
    padding: 8px 16px;
    background-color: #262626;
    border-radius: 20px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.cococoding .button:hover{
    background: #363636;
}

.cococoding .swiper-navBtn{
    color: rgb(35, 13, 52) !important;
    transition: color 0.3s ease;
}
.cococoding .swiper-navBtn:hover{
    color: rgb(43, 17, 65);
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.cococoding .swiper-button-next{
    right: 0;
}
.cococoding .swiper-button-prev{
    left: 0;
}

.cococoding .swiper-pagination-bullet{
    background-color: rgb(35, 13, 52) !important;
    opacity: 1;
}
.cococoding .swiper-pagination-bullet-active{
    background-color: rgb(43, 17, 65);
}

/* Stats section */
.stats{
    background-color: rgba(187, 139, 255, 0.2);
}

.stats .boxes div {
    background-color: white;
}

/* Mascots section */
.mascots .row img{
    height: 80%;
}

/* Course overview section */
@media screen and (max-width: 991px){
    .course-overview .row {
        flex-direction: column;
    }
    .course-overview .row .col {
        min-width: 400px;
    }
}

.course-overview {
    background-color: #dcf7ff;
}

.course-overview .row{
    justify-content: center;
    align-content: center;
}

.course-overview .card-title {
    color: #ffeeee;
    text-shadow: 0 0 4px #ffb9c2;
    padding: 10px;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.22);
}

.course-overview .card-text{
    min-height: 75px;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-shadow: 0 1px 2px rgb(199, 194, 194);
}

.course-overview .card{
    padding: 10px;
    min-height: 250px;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 12px 0 rgba(0, 0, 0, 0.19);
}

#c-sharp-card{
    background-color: #80579d;
}
#html-card{
    background-color: coral;
}
#css-card {
    background-color: #04a0da;
}
#c-card{
    background-color: #3d65e7;
}
#js-card{
    background-color: #ffbb47;
}
.course-overview h2{
    margin: 10px;
    font-weight: 700;
}

.course-overview a.btn-primary {
    margin: 10px;
    border: none;
    font-size: 18px;
    background-color: #262626;
    color: white !important;
    border-radius: 20px;
    min-width: 175px;
    box-shadow: 0 1px 3px rgba(21, 19, 19, 0.86);
}

#typeWrite{
    color: #ffffff;
}

.animate-popin {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}

#typeWrite{
    animation-delay: .6s;
}

#subtitel{
    animation-delay: .8s;
}

@keyframes fade-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.reveal{
    transform: translateY(30px);
    opacity: 0;
    transition: 0.9s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}