/* Welcome section */
.welcome{
    background-image: url("../assets/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.welcome .wrapper{
    padding-bottom: 200px;
    padding-top: 180px;
}

.welcome .wrapper h1{
    padding-bottom: 30px;
    color: #dcffff;
    text-shadow: 0 0 12px #04a0da;
    font-family: "Arial Black", sans-serif;
}

.welcome .wrapper p{
    text-align: center;
    margin: auto;
    display: block;
    font-family: "Arial Black", sans-serif;
    color: #e0ceff;
    text-shadow: 0 0 12px #ff0d00;
    font-size: 25px;
}

/* Offer section */
.offers {
    background: linear-gradient(180deg, rgb(250, 250, 250) 0%, rgb(250,250,250) 98%, rgb(225, 225, 225) 100%);
}

/* Coconut Coding section */
.cococoding img{
    border-radius: 20px;
    margin: 20px !important;
    width: 30%;
}

.cococoding p {
    padding: 20px;
}

/* Stats section */
.stats{
    background-color: rgba(187, 139, 255, 0.2);
}

.stats .boxes div {
    background-color: white;
}

/* Mascots section */
.mascots .row img{
    height: 80%;
}

/* Course overview section */
.course-overview {
    background-color: rgba(0, 35, 66, 0.2);
}

.course-overview .card{
    padding: 20px;
    background-color: rgb(255, 254, 215);
    height: 250px;
    text-align: center;
}

.course-overview h2{
    margin: 10px;
    font-weight: 700;
}

.course-overview p{
    margin: 15px;
}

.course-overview .card .btn{
    margin: 10px;
    border: none;
    font-size: 18px;
    background-color: #262626;
    color: white !important;
    border-radius: 20px;
    width: 200px;
}