.main a {
    text-decoration: none !important;
    color: #04a0da;
}

.wrapper{
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper h1{
    text-align: center;
    font-size: 64px;
    font-weight: 750;
    color: #230d34;
    margin: auto;
    padding-bottom: 20px;
}

.wrapper h2{
    color: #00172b;
    margin-top: 5px;
}

.wrapper p{
    font-size: 16px;
    margin: auto;
}

/** The boxes we used in the offer section on the main page */
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes div{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 20px;
    min-width: 350px;
    max-width: 390px;
}

.boxes img{
    margin-right: 15px;
    float: left;
    width: 50px;
    height: 50px;
}

.boxes p {
    float: left;
}

/** That fancy purple box we got on every course site */
.info-box {
    position: relative;
    z-index: 8;
    background-color: #230d34;
    color: #c9c9c9;
}

.card {
    margin: 20px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.size-12 {
    font-size: 12px !important;
}

.faded {
    opacity: 0.75;
}

.fade-out {
    animation-name: fadeAnimation;
    animation-duration: 2000ms;
}

.fade-in {
    animation-name: fadeAnimation;
    animation-duration: 2000ms;
    animation-direction: reverse;
}

@keyframes fadeAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hidden {
    display: none;
}