:root {
    --primary-color: #050638;
    --primary-color-light: #06143d;
    --secondary-color: #1e004f;
    --secondary-color-light: #24055d;
    --pallet-color-3: #66004C;
    --pallet-color-3-light: #7a005c;
    --pallet-color-4: #10416e;
    --pallet-color-4-light: #1e4f8c;
    --black-opacity-20p: rgba(0, 0, 0, 0.20);
}

body {
    color: white !important;
    background: linear-gradient(180deg, var(--primary-color-light) 0%, var(--secondary-color) 10%, var(--secondary-color-light) 20%, var(--pallet-color-3) 30%, var(--pallet-color-3-light) 40%, var(--pallet-color-4) 50%, var(--pallet-color-4-light) 60%, var(--pallet-color-4) 70%, var(--secondary-color-light) 80%, var(--secondary-color) 90%, var(--primary-color-light) 100%);
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #2a103f;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #ab0067;
}

::-webkit-scrollbar-thumb:hover {
    background: #98005c;
}

code {
    color: #36daff !important;
}

a {
    text-decoration: none !important;
}

.hyperlink-formatted, .hyperlink-formatted:hover, .hyperlink-formatted:visited, .hyperlink-formatted:active {
    color: var(--pallet-color-4-light);
}

.underline {
    text-decoration: underline !important;
}

.wrapper{
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper h1{
    text-align: center;
    font-size: 64px;
    font-weight: 750;
    margin: auto;
    padding-bottom: 20px;
}

.wrapper h2{
    margin-top: 5px;
}

.wrapper p{
    font-size: 16px;
    margin: auto;
}

/** The boxes we used in the offer section on the main page */
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes div{
    transition: 0.25s;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    min-width: 250px;
    max-width: 390px;
    background-color: var(--black-opacity-20p);
}

.boxes img{
    margin-right: 15px;
    float: left;
    width: 50px;
    height: 50px;
}

.boxes p {
    float: left;
}

.boxes div:hover {
    cursor: pointer;
    scale: 105%;
    transform: rotate(1deg);
    transition: 0.25s ease-in-out;
}

/** That fancy purple heading-box we got on every course site */
.info-box {
    background-color: var(--black-opacity-20p);
    position: relative;
    z-index: 8;
}

.card {
    margin: 20px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.size-12 {
    font-size: 12px !important;
}

.faded {
    opacity: 0.75;
}

.fade-out {
    animation-name: fadeAnimation;
    animation-duration: 2000ms;
}

.fade-in {
    animation-name: fadeAnimation;
    animation-duration: 2000ms;
    animation-direction: reverse;
}

@keyframes fadeAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hidden {
    display: none;
}

/* Bootstrap Container override */
@media (min-width: 576px) {
    .container {
        max-width: 100% !important;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 98% !important;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 96% !important;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 94% !important;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 92% !important;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 90% !important;
    }
}
@media (min-width: 1800px) {
    .container {
        max-width: 1800px !important;
    }
}