footer{
    color: var(--primary-sub-color);
    background-color: var(--secondary-color);
}

@media screen and (max-width: 991px){
    .footer-top, .footer-bottom {
        justify-content: space-evenly !important;
        align-content: center !important;
        text-align: center;
        flex-direction: column;
    }
    footer a {
        margin-right: 10px !important;
        margin-left: 10px;
    }
}

.footer-top {
    justify-content: space-between;
    align-content: start;
}

.footer-top div {
    margin-bottom: 32px;
}

.socials .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer a {
    margin-right: 20px;
    text-decoration: none;
    color: var(--primary-sub-color);
}

footer .footer-bottom a:hover {
    opacity: 1 !important;
    color: var(--primary-sub-color);
}

.footer-bottom {
    padding-top: 32px;
    margin-top: 16px;
    justify-content: space-between;
    align-content: end;
}

.devisland img {
    filter: drop-shadow( 0 0 4px #623ce8);
}

