<div class="container">
    <div class="wrapper">
        <div class="flex footer-top">
            <div class="devisland">
                <a href="index.html">
                    <img src="assets/header/logo.png" alt="Logo" height="65">
                </a>
            </div>
            <div class="socials">
                <h4>Follow us</h4>
                <div class="icons">
                    <a href="https://discord.gg/wsreWbakEX" target="_blank">
                        <img width="30px" src="assets/footer/discord.png" alt="discord">
                    </a>
                    <a href="https://www.youtube.com/@developerisland" target="_blank">
                        <img width="30px" src="assets/footer/youtube.png" alt="youtube">
                    </a>
                    <a href="https://www.tiktok.com/@developerisland" target="_blank">
                        <img width="30px" src="assets/footer/tiktok.png" alt="tiktok">
                    </a>
                    <a href="#" target="_blank">
                        <img width="30px" src="assets/footer/twitter.png" alt="twitter">
                    </a>
                    <a href="https://www.instagram.com/developer_island/" target="_blank">
                        <img width="30px" src="assets/footer/insta.png" alt="instagram">
                    </a>
                    <a href="https://www.reddit.com/r/DeveloperIsland/" target="_blank">
                        <img width="30px" src="assets/footer/reddit.png" alt="reddit">
                    </a>
                </div>
            </div>
        </div>
        <div class="flex footer-bottom">
            <div class="copyright">
                <p class="size-16 faded">© 2023. All rights reserved.</p>
            </div>
            <div class="resources">
                <a class="faded" href="#">Newsroom</a>
                <a class="faded" href="#">About us</a>
                <a class="faded" href="#">Apply</a>
                <a class="faded" href="#">Blog</a>
                <a class="faded" href="#">Donate</a>
            </div>
        </div>
    </div>
</div>