:root {
    --header-primary-color: #230d34;
    --header-secondary-color: #2a103f;
    --banner-bg-color: #c53500;
    --banner-fg-color: #ffffff;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
}

.header-navbar {
    background-color: var(--header-primary-color);
    font-family: "Cascadia Code", sans-serif;
}

.header-banner {
    color: var(--banner-fg-color);
    text-align: center;
    background-color: var(--banner-bg-color);
}

.header-banner p {
    margin: 0;
    padding: 5px 0;
}

.container-fluid {
    padding: 0 !important;
}

.navbar-brand {
    margin-right: 24px !important;
}

.navbar-brand img{
    /* box-shadow: 0 0 10px #ab00b0, 0 0 12px #0090ff;*/
    filter: drop-shadow( 0 0 4px #623ce8);
}

.navbar-nav {
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-item{
    margin: 5px 15px;
}

.navbar-nav a {
    font-size: 18px;
    color: #b2b2b2;
    text-align: center;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: white;
}

.navbar .dropdown-menu{
    background-color: var(--header-secondary-color);
    border: 1px solid #200b31;
}

.navbar .dropdown-content{
    color: #cccccc;
}

.navbar .dropdown-item:hover{
    color: #dadada;
    background-color: #34154d;
}

.navbar-toggler{
    border-radius: 0 !important;
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
    background-color: var(--header-secondary-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.account-buttons .nav-item {
    border-radius: 5px;
    padding: 5px;
    background-color: var(--header-secondary-color);
}

/* Login and Register form */
.form-dropdown {
    border: none !important;
    transform: translate(-55%);
    width: 350px;
}

.form-dropdown .btn {
    color: white;
    background-color: #521881;
}

.form-dropdown .btn:hover {
    color: white;
    background-color: #601b98;
}

@media screen and (max-width: 991px) {
    .navbar-nav .nav-item {
        width: 100%;
    }
    .form-dropdown {
        transform: none;
        width: 100%;
    }
}