:root {
    --button-text-color: #dadada;
    --banner-info-bg-color: #0079c5;
    --banner-fg-color: #ffffff;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
}

.header-navbar {
    background-color: var(--primary-color);
    font-family: "Cascadia Code", sans-serif;
}

.header-banner {
    color: var(--banner-fg-color);
    text-align: center;
}

.header-banner #not-compliant {
    background-color: #ff8800;
}

.header-banner #info {
    background-color: var(--banner-info-bg-color);
}

.header-banner p {
    margin: 0;
    padding: 5px 0;
}

.container-fluid {
    padding: 0 !important;
}

.navbar-brand {
    margin-right: 24px !important;
}

.navbar-brand img{
    /* box-shadow: 0 0 10px #ab00b0, 0 0 12px #0090ff;*/
    filter: drop-shadow( 0 0 4px #623ce8);
}

.navbar-nav {
    align-items: center;
    justify-content: center;
}

.nav-item{
    margin: 5px 15px;
}

.nav-link{
    padding: 10px 15px !important;
}

.navbar-nav a {
    border-radius: 5px;
    font-size: 18px;
    color: var(--button-text-color);
    text-align: center;
}

.navbar .dropdown-menu{
    background-color: var(--primary-color-light);
}

.navbar .dropdown-content{
    color: var(--button-text-color);
}

.navbar-toggler{
    border-radius: 0 !important;
    border: none !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.account-buttons .nav-item {
    border-radius: 5px;
    background-color: var(--secondary-color);
}

/* Login and Register form */
.form-dropdown {
    border: none !important;
    transform: translate(-55%);
    width: 350px;
}

.form-dropdown .btn {
    color: var(--button-text-color);
    background-color: var(--pallet-color-4);
}

/* Hover & Focus */
.nav-buttons .nav-link:hover,
.nav-buttons .nav-link:focus,
.nav-buttons .dropdown-item:hover,
.nav-buttons .dropdown-item:focus {
    background: var(--primary-color-light);
    color: white;
}

#portal .nav-link:hover,
#portal .nav-link:focus,
#portal .dropdown-menu a:hover
{
    background-color: var(--secondary-color-light);
    color: white !important;
}

.form-dropdown .btn:hover {
    color: white;
    background-color: var(--pallet-color-4-light);
}

.navbar-toggler:focus{
    box-shadow: none !important;
    background-color: var(--primary-color-light);
}

/* Mobile */
@media screen and (max-width: 991px) {
    .navbar-nav .nav-item {
        width: 100%;
    }
    .form-dropdown {
        transform: none;
        width: 100%;
    }
}
@media screen and (max-width: 408px) {
    .header-banner #not-compliant {
        display: block;
    }
}
@media screen and (min-width: 409px) {
    .header-banner #not-compliant {
        display: none;
    }
}