<div class="" id="lrp-form">
    <div class="card-header">
        <div class="button-container">
            <button type="button" class="btn-close" aria-label="Close" onclick="dismissLRPopup()"></button>
        </div>
        <div class="image-container">
            <img src="assets/warning.png" style="width: 100px; " class="card-img-top" alt="Warning">
        </div>
    </div>
    <div class="card-body">
        <h3 class="card-title">Attention!</h3>
        <p class="card-text">You are currently not logged in. Progress you make on this site wont be saved. If you want your progress to be saved please login or create an account. If you still want to continue you can close this window.</p>
    </div>
</div>