<div id="register-form-container">
    <div id="register-form">
        <div id="register-form-header">
            <h3>Register</h3>
            <button onclick="hideRegisterForm()">✗</button>
        </div>
        <div class="register-form-body">
            <form>
                <div class="mb-3">
                    <label for="register-form-username" class="form-label dropdown-content">Username</label>
                    <input type="text" class="form-control" id="register-form-username" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <label for="register-form-email" class="form-label dropdown-content">Email address</label>
                    <input type="email" class="form-control" id="register-form-email" placeholder="email@example.com" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label dropdown-content">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div class="mb-3">
                    <label for="register-form-passwordconfirm" class="form-label dropdown-content">Confirm Password</label>
                    <input type="password" class="form-control" id="register-form-passwordconfirm" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="btn">Sign up</button>
            </form>
        </div>
    </div>
</div>