/* Course Page */

.info-box ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.info-box ul li {
    margin-top: 20px;
    margin-right: 35px;
}

.info-box .level-easy {
    color: #8bd700;
}

.info-box .level-medium {
    color: #d77a00;
}

.info-box .level-hard {
    color: red;
}

#course-wrapper-cards {
    justify-content: center;
}

#course-wrapper-cards .skill-card {
    max-width: 450px;
}

#course-wrapper-cards .intro-card {
    flex-grow: 1;
}

@media screen and (max-width: 991px) {
    #course-wrapper-cards .skill-card {
        max-width: 550px;
    }
}

#course-info-wrapper .skill-card ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;
}

#course-start-btn:hover {
    opacity: 0.65;
}

/* Animations */
.slide-out {
    transition: transform 1.5s ease-in;
    transform: translateY(-120%);
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}
