.accordion {
    --bs-accordion-bg: rgba(0, 0, 0, 0.3) !important;
    --bs-accordion-active-bg: rgba(0, 0, 0, 0.4) !important;
    --bs-accordion-color: white !important;
    --bs-accordion-active-color: white !important;
    --bs-accordion-btn-color: var(--button-text-color) !important;
    --bs-accordion-btn-focus-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

/* Course Page */
.info-box ul{
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.info-box ul li {
    margin-top: 20px;
    margin-right: 35px;
}

.info-box .level-easy {
    color: #8bd700;
}

.info-box .level-medium {
    color: #d77a00;
}

.info-box .level-hard {
    color: red;
}

#course-main {
    border: none;
    background: var(--black-opacity-20p);
}

#course-start-btn {
    border: none;
    font-size: 18px;
}

#course-wrapper-cards {
    align-items: center;
    justify-content: center;
}

#course-wrapper-cards .overview-card {
    flex-grow: 1;
}

.card-heading {
    align-items: center;
}

#course-heading-icon {
    display: inline-block;
    margin-right: 5px;
    height: 30px;
}

.overview-card-body-components {
    align-items: center;
    height: 95px;
    gap: 25px;
}

#course-progress-bar {
    max-width: 500px;
    flex-grow: 1;
}

@media screen and (max-width: 991px) {
    #course-wrapper-cards {
        flex-direction: column;
    }

    #course-wrapper-cards .col {
        max-width: none !important;
        width: 100% !important;
    }
}

.accordion-button {
    align-items: center;
}

.accordion-button:after {
    filter: drop-shadow( 0 0 2px #ffffff);
}

.accordion-header .task-circle:before{
    content: "◯";
    color: var(--border-collor);
    font-weight: 750;
    margin-right: 7px;
}

.accordion-body .chapter-paragraphs {
    margin: 0 0 50px;
}

.accordion-body .paragraph {
    margin: 20px 0;
}

#course-start-btn:hover {
    opacity: 0.95;
}

/* Animations */
.slide-out {
    transition: transform 1.5s ease-in;
    transform: translateY(-120%);
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

@media screen and (max-width: 513px){
    .accordion-body {
        padding: var(--bs-accordion-body-padding-y) 0 !important;
    }
}
