.info .block {
    margin-top: 20px;
    margin-right: 35px;
}

.info .level-easy {
    color: #8bd700;
}

.info .level-medium {
    color: #d77a00;
}

.info .level-hard {
    color: red;
}

#course-content .skill-card ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;
}

#course-content-btn:hover {
    opacity: 0.65;
}

