.course-start {
    background-color: #fff2db;
}

.course-start .skills ul li::before{
    content: "\2022";
    color: orangered;
    display: inline-block;
    font-weight: bold;
    margin-left: -20px;
    width: 20px;
}

.intro .btn {
    margin-top: 25px;
    background-color: orangered;
    border: none;
    font-size: 18px;
}

.intro .btn:hover{
    background-color: #ff6531;
}