:root {
    --border-collor: #9a9a9a;
    --submit-color: #08b70b;
    --hint-color: #9700ff;
    --preview-color: #ff0062;
    --clear-console-color: #ff5900;
}

.chapter-tasks .task-heading {
    color: rgba(255, 0, 81, 0.8);
}

.chapter-tasks .task-description {
    margin: 15px 0 5px;
}

.code-editor {
    gap: 10px;
    display: flex;
}

.code-editor * {
    flex: 1;
}

.code-editor .console {
    margin: 0.5em 0;
    border: 1px solid #272822;
    border-radius: 5px;
    background: rgb(240, 240, 240);
    padding: 5px;
}

.input-form {
    gap: 10px;
}

.text-input-form {
    justify-content: space-between;
}

.code-input-form {
    justify-content: end;
}

.input-form input {
    background-color: var(--bs-card-bg);
    border: 1px solid var(--border-collor);
    border-radius: 5px;
    padding: 7px 13px;
    flex-grow: 1;
}

.input-form .input:focus {
    outline: none;
    border: 1px solid #006fff;
}

.input-form .button {
    max-width: 125px;
}

.input-form .clear-console {
    border: 1px solid var(--clear-console-color);
    color: var(--clear-console-color);
}

.input-form .clear-console:hover {
    background-color: var(--clear-console-color);
    color: var(--bs-card-bg);
    transition: 0.25s;
}

.input-form .run {
    border: 1px solid var(--preview-color);
    color: var(--preview-color);
}

.input-form .run:hover {
    background-color: var(--preview-color);
    color: var(--bs-card-bg);
    transition: 0.25s;
}

.input-form .hint {
    border: 1px solid var(--hint-color);
    color: var(--hint-color);
}

.input-form .hint:hover {
    background-color: var(--hint-color);
    color: var(--bs-card-bg);
    transition: 0.25s;
}

.input-form .submit {
    border: 1px solid var(--submit-color);
    color: var(--submit-color);
}
.input-form .submit:hover {
    background-color: var(--submit-color);
    color: var(--bs-card-bg);
    transition: 0.25s;
}

@media screen and (max-width: 1200px) {
    .code-editor {
        flex-direction: column;
    }
    .code-input-form {
        justify-content: space-between;
    }
    .code-input-form .button{
        max-width: 100%;
    }
}

/* Code input */
.outer-code-box, .input-code-box, .display-code-box {
    border: none !important;
    tab-size: 4 !important;
    white-space: pre-wrap !important;
    word-break: break-word !important;
}

.outer-code-box {
    padding: 16px 18px 16px 62px;
    overflow-y: hidden !important;

    border: 1px solid red;
}

.input-code-box {
    box-sizing: border-box;
    width: calc(100% - 77px);
    font-family: monospace;
    resize: none;
    color: transparent;
    background: transparent;
    caret-color: white;
    padding: 0;
    outline: none;
    z-index: 1;
    position: absolute;
    overflow: hidden;

    border: 1px solid orange;
}

.display-code-box {
    display: inline-block;
    max-width: 100%;

    border: 1px solid green;
}