footer{
    color: white;
    width: 100%;
    height: 300px;
    background-color: #00172b;
    font-family: "Cascadia Code";
}
.section{
    font-size: 20px;
    text-align: left;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
footer img{
    width: 50px;
    height: 50px;
}
.footer-headline{
    height: 20%;
    width: 300px;
    padding: 2px;
    font-size: large;
}
.soziale-medien{
    text-align: left;
    height: 50%;
    width: 200px;
}
.application-options{
    /* Kommt bald */
}
.footer-a a{
    text-decoration: none;
    color: white;
}
.footer-a:hover {
    cursor: pointer;
    font-size: 21px;
}