.header{
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #230d34;
    font-family: "Cascadia Code";
}

.navbar-logo {
    float: left;
    padding-right: 25px;
    margin-right: 10px;
}

.navbar-logo img{
    float: left;
    margin-right: 10px;
    /*border-radius: 100%;*/
    /* box-shadow: 0 0 10px #ab00b0, 0 0 12px #0090ff;*/
    -webkit-filter: drop-shadow(  0 0 12px #310c29);
    filter: drop-shadow( 0 0 10px #623ce8);

}

.navbar-brand b{
    float: right;
    font-size: 25px;
    color: #de3169;
    text-shadow: 0 0 10px #ab00b0, 0 0 12px #0090ff;
    margin: auto;
}

.navbar-nav .nav-item{
    margin: 5px 15px;
}

.navbar-nav a {
    font-size: 20px;
    color: #b2b2b2;
    text-align: center;
}

.navbar-nav a:hover, .navbar-nav a:focus {
    color: white;
}

.navbar .dropdown-menu{
    background-color: #46295d;
    border: 1px solid #6a3e8d;
}

.navbar .dropdown-item{
    color: #cccccc;
}

.navbar .dropdown-item:hover{
    color: #dadada;
    background-color: #5a3577;
}

.navbar-toggler{
    border-radius: 0 !important;
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
    background-color: #5a3577;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}