.header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #230d34;
}

.navbar {
    font-family: "Cascadia Code";
    height: 100%;
}

.navbar-logo {
    float: left;
    padding-right: 25px;
    margin-right: 10px;
}

.navbar-logo img{
    float: left;
    margin-right: 10px;
    /*border-radius: 100%;*/
    /* box-shadow: 0 0 10px #ab00b0, 0 0 12px #0090ff;*/
    -webkit-filter: drop-shadow(  0 0 12px #310c29);
    filter: drop-shadow( 0 0 10px #623ce8);

}

.navbar-logo a{
    float: right;
    font-size: 25px;
    color: #de3169;
    text-shadow: 0 0 10px #ab00b0, 0 0 12px #0090ff;
    margin: auto;
}

.navbar-nav a {
    font-size: 20px;
    color: #b2b2b2;
    text-align: center;
    width: 200px;
}

.navbar-nav a:hover {
    color: white;
}

/*Lejla's Comment: Will clean up the dropdown later.. :) */

.account{
    position: relative;
    float: right;
    height: 100%;
    width: 300px;
}

.account button{
    float: left;
    height: 100%;
    width: 150px;
    background-color: transparent;
    border: none;
    font-family: "Cascadia Code";
    font-size: 20px;
    color: #9cfaff;
}

.account button:hover{
    cursor: pointer;
    font-size: 21px;
    background-color: #654284;
    color: #cbfaff;
}